#contact {
  background-image: linear-gradient(135deg, $background-dark 0%, $background-darker 100%);
  border-top: 2px solid rgba($primary-color, 0.3);
  color: $white-color;

  .contact-wrapper {
    &__text {
      color: $white-color;
      text-shadow: 0 0 5px rgba($primary-color, 0.3);
    }
  }
}