#projects {
  background-color: $background-dark;
  color: $white-color;
  padding-top: 15rem;

  .project-wrapper {
    margin-bottom: 15rem;

    &__image {
      margin-bottom: 4rem; // Ajoute de l'espace en bas de chaque image
      padding: 2rem; // Ajoute de l'espace autour de l'image

      .thumbnail {
        // ...existing code...
        margin: 3rem 0; // Ajoute de l'espace vertical

        @include respond(phone) {
          margin: 2rem 0; // Espace réduit sur mobile
        }
      }
    }

    // Pour créer plus d'espace entre les projets
    &:not(:last-child) {
      margin-bottom: 10rem;

      @include respond(phone) {
        margin-bottom: 7rem;
      }
    }
  }
}