#projects {
  background-color: $background-dark;
  color: $white-color;
  padding-top: 15rem;

  @include respond(phone) {
    padding-top: 8rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 7rem;
    }

    &__text {
      @include respond(phone) {
        margin-bottom: 2.5rem;
      }

      &-title {
        font-size: 2.5rem;
        
        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }

    &__image {
      margin-bottom: 4rem;
      padding: 2rem;

      @include respond(phone) {
        margin-bottom: 2rem;
        padding: 1rem;
      }

      .thumbnail {
        transition: transform 0.3s ease;

        @include respond(phone) {
          transform: none !important;
        }
      }
    }
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}