html {
  font-size: 62.5%;
  background-color: $background-dark;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: $font-main;
  text-align: center;
  scroll-behavior: smooth;
  background: linear-gradient(135deg, $background-dark 0%, $background-darker 100%);
  color: $white-color;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $background-darker;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 4px;

  &:hover {
    background: $secondary-color;
  }
}