@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}

.text-color-main {
  background: linear-gradient(to right, #00CED1, #00FFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow:
    0 0 5px rgba(0, 255, 255, 0.5),
    0 0 10px rgba(0, 255, 255, 0.3),
    0 0 15px rgba(0, 255, 255, 0.2);
  animation: neon-pulse 1.5s ease-in-out infinite alternate;
  font-size: 8rem;
}

@keyframes neon-pulse {
  from {
    text-shadow:
      0 0 5px rgba(0, 255, 255, 0.5),
      0 0 10px rgba(0, 255, 255, 0.3);
  }

  to {
    text-shadow:
      0 0 7px rgba(0, 255, 255, 0.7),
      0 0 15px rgba(0, 255, 255, 0.5),
      0 0 25px rgba(0, 255, 255, 0.3);
  }
}